<section class="form-section">
  <div class="text">
    <h3>Fique por dentro das nossas novidades</h3>
    <p>
      Entre em contato conosco e esclareça suas dúvidas sobre as melhores 
      opções de plantas para o seu ambiente. Oferecemos consultoria especializada, 
      orientando sobre os cuidados e manejos ideais para a sua ornamentação.
      Mais do que uma loja de plantas ornamentais, somos apaixonados pelo que fazemos!
    </p>
  </div>
  <form [formGroup]="newsletterForm">
    <label for="name">Nome</label>
    <input id="name" formControlName="name" />
    <label for="email">E-mail</label>
    <input id="email" formControlName="email" />
    <btn-primary
      btn-text="Enviar"
      variant="secondary"
      (submit)="onSubmit()"
      [disabled]="!newsletterForm.valid"
      [loading]="loading()"
    ></btn-primary>
  </form>
</section>
